{{define "content"}}
<div class="artist-card">
    <div class="artist-info">
        <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
        <div>
            <h2>{{.Artist.Name}}</h2>
            <h3>Creation Date: {{.Artist.CreationDate}}</h3>
            <h3>First Album: {{.Artist.FirstAlbum}}</h3>
            </div>
            </div>
    <div class="artist-members">
        <h3>Members</h3>
        <ul>
            {{range .Artist.Members}}
            <li>{{.}}</li>
            {{end}}
            </ul>
    </div>
    <div class="button-card">
        <button onclick="location.href='/location/?id={{.Artist.ID}}'">Locations</button>
        <button onclick="location.href='/date/?id={{.Artist.ID}}'">Dates</button>
        <button onclick="location.href='/relation/?id={{.Artist.ID}}'">Relation</button>
        <button onclick="location.href='/'">Home</button>
        <button onclick="location.href='/artist/?id={{.Artist.ID}}'">Back to Artist</button>
    </div>
</div>
{{end}}