{{define "content"}}

<div class="artist-grid">
    <div class="artist-cardinfo">
        <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
        <h2>{{.Artist.Name}}</h2>
        <h3>Members</h3>
        <div class="members-info">

            {{range .Artist.Members}}
            <li>{{.}},</li>
            {{end}}
        </div>

        <h3>Creation Date: {{.Artist.CreationDate}}</h3>
        <h3>First Album: {{.Artist.FirstAlbum}}</h3>

        <div class="button-card">
            <button onclick="location.href='/relation/?id={{.Artist.ID}}'">ConcertLocations and Dates</button>
            <button onclick="location.href='/'">Home</button>
        </div>
    </div>
</div>
{{end}}